<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <head >
    <title>VersionEye</title>
  </head>

  <body style="font-size: 14px;
              font-family: 'Droid Sans','Droid Serif', 'Helvetica';
              height: 100%;
              margin: 0;
              background-color: #fafafa;
              display: block;
              background-repeat: no-repeat;
              font-size: 14px;">

    <div style="margin: 0 auto;">

      <div style="padding: 15px;
                  margin-top: 10px;
                  background-color: white;
                  border: 1px solid #eee;
                  ">

        <%= yield %>

      </div>

      <div style="background-color: #fafafa;
                  padding: 15px;
                  margin-bottom: 10px;
                  font-size: 10px;
                  color: gray;" >

          Contact us on: <a href='https://twitter.com/VersionEye'>Twitter</a> | <a href='https://www.facebook.com/VersionEye'>Facebook</a> | <a href='https://plus.google.com/+Versioneye/posts'>Google+</a>

          <hr />

          VersionEye GmbH | Julius-Hatry-Strasse 1 | 68163 Mannheim | Germany |
          E-Mail: contact@versioneye.com | Amtsgericht: Mannheim | Handelsregister: Mannheim, HRB 720830 | USt-IdNr.: DE282045007 | CEO: Robert Reiz | <a href="<%= Settings.instance.server_url %>/imprint?utm_medium=email">Imprint</a> |
          <% if @user && @newsletter %>
            <% email_val = @user.email.unpack("H*").first %>
            <a href="<%= Settings.instance.server_url %>/unsubscribe/<%= email_val %>/<%= @newsletter %>?utm_medium=email">Unsubscribe</a> from <%= @newsletter %>
          <% end %>
      </div>

    </div>
  </body>
</html>
