<p>
  Hello <%= @comment_user.fullname %>
</p>
<p>
  <a href="<%= Settings.instance.server_url %>/users/<%= @reply_user.username %>?utm_medium=email&amp;utm_source=version_comment_reply"><%= @reply_user.fullname %></a> replied to your comment on
  <a href="<%= Settings.instance.server_url %>/<%= @prod.language.downcase %>/<%= @prod.to_param %>?utm_medium=email&amp;utm_source=version_comment_reply"><%= @prod.name %></a><br/>
  You can see the comment here: <a href="<%= @commentlink %>?utm_medium=email&amp;utm_source=version_comment_reply"><%= @commentlink %></a>
</p>
<p>
  Have a great day!
</p>
<p>
  Your VersionEye Team<br/>
  <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=version_comment_reply"><%= Settings.instance.server_url %></a>
</p>
