<p>
  Hello <%= @user.fullname %>
</p>
<p>
  This is a notification E-Mail for your project <a href="<%= @projectlink %>?utm_medium=email&amp;utm_source=version_comment"><%= @project_name %></a>.
</p>

<div style="padding-top: 15px; padding-bottom: 15px;">
  <div style="padding-bottom: 15px;">
    <span style="border-bottom: 1px dotted gray; font-size: 18px; font-weight: bold;">
      Outdated Dependencies: <a href="<%= @projectlink %>?utm_medium=email&amp;utm_source=version_comment"><%= @outdated_dependencies_count %></a>
    </span>
  </div>
  <div style="padding-bottom: 15px;">
    <span style="border-bottom: 1px dotted gray; font-size: 18px; font-weight: bold;">
      Dependencies with unknown licenses: <a href="<%= @projectlink %>?utm_medium=email&amp;utm_source=version_comment"><%= @unknown_licenses_count %></a>
    </span>
  </div>
  <div style="padding-bottom: 15px;">
    <span style="border-bottom: 1px dotted gray; font-size: 18px; font-weight: bold;">
      Dependencies with licenses not on the project whitelist: <a href="<%= @projectlink %>?utm_medium=email&amp;utm_source=version_comment"><%= @red_licenses_count %></a>
    </span>
  </div>
</div>

<p>
  We keep you informed. <br/>
  Have a great day!
</p>
<p>
  Your VersionEye Team<br/>
  <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=project_notification"><%= Settings.instance.server_url %></a>
</p>
