
<div>
  <p>
    Hello <%= @user.fullname %>,
  </p>
  <p>
    This is your <%= @period %> notification email. <br/>
    Watch your projects in a <a href="<%= Settings.instance.server_url %>/user/projects">table view here</a>. 
  </p>
</div>

<% if @projects && !@projects.empty? %>
  <div >
    <% @projects.each do |project| %>
      <div style="padding-bottom: 10px;">
        <div>
          <a href="<%= @projectlink %>/<%= project.id.to_s %>?utm_medium=email&amp;utm_source=project_notifications"><%= project.name %></a>
        </div>
        <div style="display: table; padding-left: 5px;">
          <div style="display: table-row">
            <div style="display: table-cell; padding-right: 4px;" >
              dependencies: 
            </div>
            <div style="display: table-cell" >
              <span style="font-size: 14px; font-weight: bold;" >
                <% color = project.out_number_sum.to_i == 0 ? "green" : "red" %>
                <span title="out-dated dependencies" style="color: <%= color %>"><%= project.out_number_sum %></span> /
                <span title="dependencies" ><%= project.dep_number_sum %></span>
              </span>
            </div>
          </div>    
          <div style="display: table-row">
            <div style="display: table-cell; padding-right: 4px;" >
              licenses: 
            </div>
            <div style="display: table-cell" >
              <span style="font-weight: bold; font-size: 14px;" >
                <% color = project.licenses_red_sum.to_i == 0 ? "green" : "red" %>
                <span title="licenses violating the license whitelist" style="color: <%= color %>"><%= project.licenses_red_sum %></span> :
                <% color = project.licenses_unknown_sum.to_i == 0 ? "green" : "orange" %>
                <span title="unknown licenses" style="color: <%= color %>"><%= project.licenses_unknown_sum %></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %> 
  </div>
<% end %>


<% if @col_projects && !@col_projects.empty? %>
  <div>
    <p>
      Projects shared with you.
    </p>
  </div>
  <div class='mobile_project_list' >
    <% @col_projects.each do |project| %>
      <div style="padding-bottom: 10px;" >
        <div>
          <a href="<%= @projectlink %>/<%= project.id.to_s %>?utm_medium=email&amp;utm_source=project_notifications"><%= project.name %></a>
        </div>
        <div style="display: table; padding-left: 5px;">
          <div style="display: table-row">
            <div style="display: table-cell; padding-right: 4px;" >
              dependencies: 
            </div>
            <div style="display: table-cell" >
              <span style="font-size: 14px; font-weight: bold;" >
                <% color = project.out_number_sum.to_i == 0 ? "green" : "red" %>
                <span title="out-dated dependencies" style="color: <%= color %>"><%= project.out_number_sum %></span> /
                <span title="dependencies" ><%= project.dep_number_sum %></span>
              </span>
            </div>
          </div>    
          <div style="display: table-row">
            <div style="display: table-cell; padding-right: 4px;" >
              licenses: 
            </div>
            <div style="display: table-cell" >
              <span style="font-weight: bold; font-size: 14px;" >
                <% color = project.licenses_red.to_i == 0 ? "green" : "red" %>
                <span title="licenses violating the license whitelist" style="color: <%= color %>"><%= project.licenses_red_sum %></span> :
                <% color = project.licenses_unknown.to_i == 0 ? "green" : "orange" %>
                <span title="unknown licenses" style="color: <%= color %>"><%= project.licenses_unknown_sum %></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %> 
  </div>
<% end %>


<p>
  We keep you informed. <br/>
  Have a great day!
</p>
<p>
  Your VersionEye Team<br/>
  <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=project_notification"><%= Settings.instance.server_url %></a>
</p>
