
<div>
  <p>
    Hello <%= @user.fullname %>,
  </p>
  <% if @projects && @projects.count == 1 %>
    <p>
      One of your projects is vulnerable! Please follow the project link to see more details about the
      security vulnerabilities in your dependencies.
    </p>
  <% end %>
  <% if @projects && @projects.count > 1 %>
    <p>
      Some of your projects are vulnerable. Please follow the project links to see more details about the
    security vulnerabilities in your dependencies.
    </p>
  <% end %>

  <% if @projects && !@projects.empty? %>
    <div >
      <% @projects.each do |project| %>
        <div style="background-color: #F2DEDE; padding: 10px; margin-bottom: 2px;">
          <a href="<%= @base_url %>/user/projects/<%= project.id.to_s %>#tab-security"><%= project.name %></a> -
          <%= pluralize(project.sv_count, 'security vulnerability') %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<p>
  We keep you informed. <br/>
  Have a great day!
</p>
<p>
  Your VersionEye Team<br/>
  <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=project_notification"><%= Settings.instance.server_url %></a>
</p>
