<p>
  Hello <%= @user.fullname %>
</p>
<p>
  There was a VersionEye project created from this file <a href="<%= @project.source_url %>"><%= @project.source_url %></a>.<br/>
  Unfortunately the file can not be fetched anymore and the VersionEye project was deleted.
  If the file was renamed or moved you can still create a new VersionEye project out of it.
</p>
<p>
  Your remaining projects are here: <a href="<%= Settings.instance.server_url %>/organisations/<%= @project.organisation.name %>/projects"><%= Settings.instance.server_url %>/organisations/<%= @project.organisation.name %>/projects</a>
</p>
<p>
  Have a great day!<br/>
  Your VersionEye Team
</p>
