<div>
  <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
    Hey <%= @user.fullname %>,

    <p style="padding-bottom: 0px;">
      Here are the latest news from VersionEye.
    </p>

    <h3>Team Notifications</h3>
    <p>
      We completely refactored the notification engine to make it more flexible.
      Up to now you could only configure the frequency of the notification email in the project settings.
      Many of you asked for a more flexible way to configure notifications.
      Specially in big companies you have people with different interests. Some are only interested in security notifications
      and others are maybe only interested in license notifications.
      With the new model the notifications are configured on the team level.
      Each team can choose which kind of notifications they are interested in and on which days of the week
      they want to receive them. And now it is also possible to assign multiple teams to one project.
      <br/><br/>
      <img style="max-width: 100%; height: auto; width: auto\9;" src="https://versioneye.files.wordpress.com/2016/12/team_notifications_01.png">
      <br/><br/>
      Learn more about this cool feature <a href="https://blog.versioneye.com/2016/12/05/new-team-notifications/">here</a>.
    </p>

    <h3>NVD Integration</h3>
    <p>
      We started to integrate <a href="https://nvd.nist.gov/">NVD</a> as 8th security database for VersionEye.
      NVD is one of the biggest sources of security vulnerabilities. The problem with NVD is that by default it's not
      matching with any package manager. The OWASP project tries to do the matching with fuzzy logic, but the results
      contain a lot of false positives/negatives. We started to build up a mapping between NVD CPEs and Maven coordinates
      which aims to have 0 false positives/negatives. With that approach we could already identify many current
      security vulnerabilities in popular Java projects like the Spring Framework, Vaadin and many more.
      The good news is that all security vulnerabilities we found are fixed in the newest version of the package.
      It makes sense to keep their dependencies up-to-date ;-)<br/>
      We will continually improve this mapping and roll it out for the .NET Nuget platform by beginning of next year.
    </p>

    <p>
      Your feedback is highly appreciated.<br/>
      Simply reply to this email if you want to give feedback.
    </p>

    <p>
      Best Regards, <br/>
      Robert @ VersionEye <br/>
      <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
      <br/>
    </p>

  </div>
</div>
<img src="http://www.google-analytics.com/collect?v=1&amp;tid=<%= Settings.instance.ga_account %>&amp;cid=<%= @user.ids %>&amp;t=event&amp;ec=email&amp;ea=open&amp;el=recipient&amp;cs=newsletter&amp;cm=email&amp;cn=pullrequest_vagrant" />
