# encoding: utf-8
<div>
  <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
    Hey <%= @user.fullname %>,

    <p style="padding-bottom: 0px;">
      Hope you are doing well. Here are the latest news from us.
    </p>
    <h3>Security Vulnerability for JavaScript</h3>
    <p>
      VersionEye is aggregating data from different data sources, such as repository servers
      and security advisory databases. Last week a new security database for JavaScript was integrated.
      Now VersionEye is matching security vulnerabilities from Retire.js with JavaScript modules from Bower.io.
      Read more <a href="https://blog.versioneye.com/2017/08/11/security-vulnerabilities-for-javascript/">here</a>.
    </p>
    <h3>META.json for Perl</h3>
    <p>
      Since a couple weeks VersionEye has support for Perl.
      The first implementation could only monitor the "cpanfile" from a Perl project.
      That was improved and now VersionEye can monitor META.json and META.yml files as well.
    </p>
    <p>
      Your feedback is highly appreciated.<br/>
      Simply reply to this email if you want to give feedback.
    </p>
    <p>
      Best Regards, <br/>
      Robert @ VersionEye <br/>
      <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
      <br/>
    </p>

  </div>
</div>
<img src="http://www.google-analytics.com/collect?v=1&amp;tid=<%= Settings.instance.ga_account %>&amp;cid=<%= @user.ids %>&amp;t=event&amp;ec=email&amp;ea=open&amp;el=recipient&amp;cs=newsletter&amp;cm=email&amp;cn=pullrequest_vagrant" />
