# encoding: utf-8
<div>
  <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
    Hey <%= @user.fullname %>,

    <p style="padding-bottom: 0px;">
      The public VersionEye API is exposing a lot of information about open source projects. If you know the coordinates of a component (software library) in a certain package manager, you can use the VersionEye API fetch all kind of meta information about the component. Meta information like available versions, licenses, security vulnerabilities and many more.
    </p>
    <p>
      But what if you don’t know the coordinates of a component? What if you have somewhere on your disk a “beanutils.jar” and you don’t know which version it is or to which Maven GroupId it belongs to? You don’t know which license it has and you don’t know if it is vulnerable or not! For this problem the VersionEye API has a solution now. Simply create the SHA1 value for the “beanutils.jar” file and send it to the VersionEye API. You will get back the coordinates of the component in the corresponding package manager. This works for Java, C#, Node.JS and Python. All together we have almost 10 Million SHA values in our database. Support for Ruby and other languages is coming soon. Read more about this new feature <a href="https://blog.versioneye.com/2017/02/08/identifying-components-by-sha-values/">here</a>
    </p>
    <p>
      Your feedback is highly appreciated.<br/>
      Simply reply to this email if you want to give feedback.
    </p>

    <p>
      Best Regards, <br/>
      Robert @ VersionEye <br/>
      <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
      <br/>
    </p>

  </div>
</div>
<img src="http://www.google-analytics.com/collect?v=1&amp;tid=<%= Settings.instance.ga_account %>&amp;cid=<%= @user.ids %>&amp;t=event&amp;ec=email&amp;ea=open&amp;el=recipient&amp;cs=newsletter&amp;cm=email&amp;cn=pullrequest_vagrant" />
