<div>
  <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
    Hey <%= @user.fullname %>,

    <p style="padding-bottom: 0px;">
      Here are the latest news from VersionEye.
    </p>

    <h3>Pull request support for GitHub</h3>
    <p>
      Now you can use VersionEye to test your changes directly in a Pull Request and see the results of those changes in the GitHub Pull Request UI. This way you can even enforce rules that would prevent a Pull Request merge if a dependency is blacklisted or it is flagged with a security vulnerability.<br/><br/>
      With this new feature the developers are getting instant feedback to their changes. In real time the dependencies are analysed and the developers informed. We think it's important to run this kind of analysis as early in the development process as possible. If your software is already bundled and published to a binary repository it's too late for this kind of analysis because your software might be distributed already to a high number of devices/clients. Run your analysis as early and as often as you can ;-)<br/><br/>
      Learn more about this cool feature <a href="https://blog.versioneye.com/2016/08/16/pull-request-support-for-github/">here</a><br/><br/>
      A similar kind of integration will come soon for <a href="https://about.gitlab.com/">GitLab</a> as well.
    </p>

    <h3>Vagrantfile for VersionEye</h3>
    <p>
      VersionEye is <a href="https://github.com/versioneye/ops_contrib">open source</a> and the
      Docker images are on <a href="https://hub.docker.com/u/versioneye/">Docker Hub public</a>.
      The whole VersionEye stack is composed by 8 Docker images. Now we have a
      <a href="https://github.com/versioneye/ops_contrib/blob/master/Vagrantfile">Vagrantfile</a>
      which makes it even easier to spin up your own VersionEye instance.
      Simply clone the <a href="https://github.com/versioneye/ops_contrib">versioneye/ops_contrib</a> repository and run:

      <pre style="background-color: #f7fafb; border: 1px solid #e3edf3; border-radius: 3px; padding: 10px;"><code>vagrant up</code></pre>

      After a couple mintues you can access your own VersionEye instance at http://127.0.0.1:7070.
      Read more about this
      <a href="https://blog.versioneye.com/2016/08/18/vagrantfile-for-versioneye/">here</a>.
    </p>

    <p>
      Your feedback is highly appreciated.<br/>
      Simply reply to this email if you want to give feedback.
    </p>

    <p>
      Best Regards, <br/>
      Robert @ VersionEye <br/>
      <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
      <br/>
    </p>

  </div>
</div>
<img src="http://www.google-analytics.com/collect?v=1&amp;tid=<%= Settings.instance.ga_account %>&amp;cid=<%= @user.ids %>&amp;t=event&amp;ec=email&amp;ea=open&amp;el=recipient&amp;cs=newsletter&amp;cm=email&amp;cn=pullrequest_vagrant" />
