# encoding: utf-8
<div>
  <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
    Hey <%= @user.fullname %>,

    <p style="padding-bottom: 0px;">
      Happy new year! Here are the latest news from VersionEye.
    </p>

    <h3>Suggest a license</h3>
    <p>
      VersionEye is monitoring now more than 1.2 Million open source projects and collecting all kind of meta information to this projects. One kind of the meta information is the corresponding license. Currently the VersionEye database contains licenses to more than 8 Million artefacts.
      <br/><br/>
      However, it is not always possible to fetch the license automatically. Sometimes things go wrong and sometimes the license is not available through a repository API. Sometimes human interaction is required to find the license for an artefact. Now everybody from the VersionEye community can suggest a license to an artefact. If you are on a VersionEye product page with an unknown license you will see a new “Suggest a license” link now.
      <br/><br/>
      Learn more about this feature <a href="https://blog.versioneye.com/2017/01/18/suggest-new-licenses/">here</a>.
    </p>

    <h3>Recognising SPDX licenses from raw text/html</h3>
    <p>
      Sometimes the maintainers of a project didn’t provide the license information that way that it’s easy to read and recognise for machines. Our new license crawler is using maching learning to detect known licenses in raw text and HTML files. That way we could assign SPDX identifiers to many artefacts where the license name was unknown before.
      <br/><br/>
      Learn more about this feature <a href="https://blog.versioneye.com/2017/01/24/lets-make-licenses-great-again/">here</a>.
    </p>

    <h3>VersionEye Maven Plugin 3.11.1</h3>
    <p>
      Version 3.11.1 of the famous VersionEye Maven Plugin is out! It contains a BugFix which was related to Maven reactor builds. Read more to this patch <a href="https://blog.versioneye.com/2017/01/12/versioneye-maven-plugin-3-11-1/">here</a>
    </p>

    <p>
      Your feedback is highly appreciated.<br/>
      Simply reply to this email if you want to give feedback.
    </p>

    <p>
      Best Regards, <br/>
      Robert @ VersionEye <br/>
      <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
      <br/>
    </p>

  </div>
</div>
<img src="http://www.google-analytics.com/collect?v=1&amp;tid=<%= Settings.instance.ga_account %>&amp;cid=<%= @user.ids %>&amp;t=event&amp;ec=email&amp;ea=open&amp;el=recipient&amp;cs=newsletter&amp;cm=email&amp;cn=pullrequest_vagrant" />
