# encoding: utf-8
<div>
  <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
    Hey <%= @user.fullname %>,

    <p style="padding-bottom: 0px;">
      Hope you are doing well. Here are the latest news from us.
    </p>
    <h3>Elixir</h3>
    <p>
      <a href="https://elixir-lang.org/">Elixir</a> is a dynamic, functional language designed for building scalable and maintainable applications.
      Since last week we support Elixir and it's package manager Hex.pm. Currently more than 4000 Elixir packages are tracked by VersionEye.
      As an Elixir developer you can now use VersionEye to monitor your mix.exs files on GitHub to get notified about out-dated dependencies and licenses.
      Read more <a href="https://blog.versioneye.com/2017/06/16/support-for-elixir-hex/">here</a>.
    </p>
    <h3>Default License Whitelist</h3>
    <p>
      In VersionEye it’s very easy to setup a license whitelist. A license whitelist describes licenses which are allowed in your organisation.
      However, most people don’t know much about software licenses. They simply don’t know what to put on a license whitelist and what not. That’s why VersionEye has a default license whitelist now. It contains a small set of software licenses which can be used in any environment.
      Read more <a href="https://blog.versioneye.com/2017/06/12/default-license-whitelist-2/">here</a>.
    </p>
    <h3>Improvements for Node.JS / NPM</h3>
    <p>
      The Node.JS &amp; JavaScript community is one of the biggest communities on VersionEye, that's why we continously improve the support for Node.JS.
      We just added support for the new package-lock.json file. Right now we support this files/formats for Node.JS:
      <ul>
        <li>package.json</li>
        <li>package-lock.json</li>
        <li>npm-shrinkwrap.json</li>
        <li>yarn.lock</li>
        <li>JSPM</li>
      </ul>
    </p>
    <p>
      Let us know if anything is missing.
    </p>
    <p>
      Your feedback is highly appreciated.<br/>
      Simply reply to this email if you want to give feedback.
    </p>
    <p>
      Best Regards, <br/>
      Robert @ VersionEye <br/>
      <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
      <br/>
    </p>

  </div>
</div>
<img src="http://www.google-analytics.com/collect?v=1&amp;tid=<%= Settings.instance.ga_account %>&amp;cid=<%= @user.ids %>&amp;t=event&amp;ec=email&amp;ea=open&amp;el=recipient&amp;cs=newsletter&amp;cm=email&amp;cn=pullrequest_vagrant" />
