# encoding: utf-8
<div>
  <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
    Hey <%= @user.fullname %>,

    <p style="padding-bottom: 0px;">
      Hope you are doing well. Here are the latest news from us.
    </p>
    <h3>Rust</h3>
    <p>
      Rust is a blazingly fast new language which guarantees thread safety! Our latest project, a command line tool to identify random components by their SHA values, is implemented in Rust. As we use Rust for our own purposes we want to track Rust dependencies of course That’s why added support for Rust now! VersionEye is tracking more than 9K Rust packages from crates.io now and they are all available through our public search.
    </p>
    <p>
      Beside that VersionEye can parse cargo.toml and cargo.lock files. If you are using cargo to manage your Rust dependencies then you can let VersionEye monitore those files to receive notifications about new releases of your dependencies.
      Read more <a href="https://blog.versioneye.com/2017/05/04/rust-support/">here</a>.
    </p>
    <h3>New project view</h3>
    <p>
      Up to now we had for versions, licenses and security separate tabs in the project view page. That was a bit confusing and many users even didn’t noticed that there are different tabs. That’s why improved that. Now there is one unified table view which shows all the desired information. Here an example:
    </p>
    <p>
      <img src="https://versioneye.files.wordpress.com/2017/05/screen-shot-2017-05-10-at-09-09-47.png" style="max-width:100%;" >
    </p>
    <p>
      Read more <a href="https://blog.versioneye.com/2017/05/10/new-project-view-with-more-details/">here</a>.
    </p>
    <p>
      Your feedback is highly appreciated.<br/>
      Simply reply to this email if you want to give feedback.
    </p>
    <p>
      Best Regards, <br/>
      Robert @ VersionEye <br/>
      <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
      <br/>
    </p>

  </div>
</div>
<img src="http://www.google-analytics.com/collect?v=1&amp;tid=<%= Settings.instance.ga_account %>&amp;cid=<%= @user.ids %>&amp;t=event&amp;ec=email&amp;ea=open&amp;el=recipient&amp;cs=newsletter&amp;cm=email&amp;cn=pullrequest_vagrant" />
