# encoding: utf-8
<div>
  <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
    Hey <%= @user.fullname %>,

    <p style="padding-bottom: 0px;">
      Hope you are doing well. Here are the latest news from us.
    </p>
    <h3>Rust Security</h3>
    <p>
      A couple weeks ago we added support for the programming language Rust.
      Now we can offer Rust security vulnerabilities.
      If one of your Rust dependencies has a known security vulnerability VersionEye will tell you ;-)
      Read more <a href="https://blog.versioneye.com/2017/07/12/rust-security/">here</a>.
    </p>
    <h3>Perl</h3>
    <p>
      We just added support for the popular programming language Perl.
      Right now there are more than 41250 Perl packages in the VersionEye database.
      Read more <a href="https://blog.versioneye.com/2017/07/12/perl-support/">here</a>.
    </p>
    <h3>VersionEye on premise</h3>
    <p>
      VersionEye is completely open source and totally based on Docker!
      Every time we do a deployment to production (several times a day) new Docker images
      are build and published to Docker Hub. The tutorial how to setup your own
      VersionEye instance was strongly improved in the last couple weeks.
      Check it out <a href="https://github.com/versioneye/ops_contrib">here</a>.
    </p>
    <p>
      Your feedback is highly appreciated.<br/>
      Simply reply to this email if you want to give feedback.
    </p>
    <p>
      Best Regards, <br/>
      Robert @ VersionEye <br/>
      <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
      <br/>
    </p>

  </div>
</div>
<img src="http://www.google-analytics.com/collect?v=1&amp;tid=<%= Settings.instance.ga_account %>&amp;cid=<%= @user.ids %>&amp;t=event&amp;ec=email&amp;ea=open&amp;el=recipient&amp;cs=newsletter&amp;cm=email&amp;cn=pullrequest_vagrant" />
